* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing: border-box;
}
 h2 {
     text-align: center;
     font-family: monospace, monospace;
     font-weight: 300;
     font-size: 20px;
     
 }

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.text-center {
    text-align: center;
}
.flixcard {
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 35px;
}
.card {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cost {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 1px;
}
.row {
    margin-left: -5px;
   
}